*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rebeccapurple;
}
.header , .img{
    background-color: rgb(0, 238, 255);
    
}
.img img{
    width: 100px;
    height: 100px;    
    padding-left: 30px;
    padding-top: 10px;
}
.nav {
    padding: 5px;
    list-style: none;
    text-align: right;
}
.nav_list li{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}
.content {
    width: 25%;
    height: 100%;
    background-color: peru;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    display: block;
    border-color: seagreen;
}
.uno {
    margin: 5px;
    border-color: springgreen;
    border-radius: 3px;
    padding: 10px;

}
.dos {
    margin: 5px;
    border-color: springgreen;
    border-radius: 3px;
    padding: 10px;
    
}
.tres {
    margin: 5px;
    border-color: springgreen;
    border-radius: 3px;
    padding: 10px;
    
}
.cuatro {
    margin: 5px;
    border-color: springgreen;
    border-radius: 3px;
    padding: 10px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: tan;

}